---
import { Party } from '../../models'
import Button from '../components/Button'
import { db } from '../lib/db'

const { data } = await db
  .selectFrom([
    {
      table: 'party',
      columns: ['id', 'name', 'food'],
    },
  ])
  .asClass(Party)
  .query()
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Outerbase + Astro</title>
  </head>
  <body>
    <ul>
      {
        data.map((result: Party) => (
          <li>
            <p>{result.name}</p>
            <p>{result.food}</p>
          </li>
        ))
      }
    </ul>
    <Button client:load />
  </body>
</html>
